#github-card
  div(class="github-card", data-github="pathouse", data-width="360", data-height="150")
  script(src="http://lab.lepture.com/github-cards/widget.js")
<hr />
#repo-card
  div(class="github-card", data-github="pathouse/patmcgee.io", data-width="360", data-height="150")
  script(src="http://lab.lepture.com/github-cards/widget.js")