---
title: "Projects"
layout: "default"
isPage: true
---

.row
  .col-lg-10.col-lg-offset-1
    h3 Projects
    p
      | Open source software projects.
    .row
      .col-lg-12
        h5 PatMcGee.io
        ul
          li
            a(href="https://github.com/pathouse/patmcgee.io", target="_blank") Source code for this site
    .row
      .col-lg-12
        h5 ActiveReader
        ul
          li
            a(href="active-reader/") Description & Explanation
          li
            a(href="https://github.com/pathouse/activereader", target="_blank") Github Repository
    .row
      .col-lg-12
        h5 Generation Cacheable
        ul
          li
            a(href="generation-cacheable/") Description & Explanation
          li
            a(href="https://github.com/pathouse/generation_cacheable", target="_blank") Github Repository
