---
title: "Resources"
layout: "default"
isPage: true
---

.row
  .col-lg-10.col-lg-offset-1
    h4 Public Evernote Notebooks
    p
      | I've done my best to make these notebooks as useful as possible. Look for specific topics by
      | tags and get an idea of everything inside via the Table of Contents note.
    .row
      .col-lg-12
        h5 TED talks
        a(href="https://www.evernote.com/pub/patmcscience/tedtalks", target="_blank") https://www.evernote.com/pub/patmcscience/tedtalks
        p
          | 60+ Mind-expanding TED talks.
    .row
      .col-lg-12
        h5 Educational Resources
        a(href="https://www.evernote.com/pub/patmcscience/educationalresources", target="_blank") https://www.evernote.com/pub/patmcscience/educationalresources
        p
          | Websites dedicated to education. MOOCs and more.
