--- yaml
title: "About"
layout: "default"
isPage: true
---

.row
  .col-lg-6.col-lg-offset-3.text-center
    img(src="/images/IMG_0659.JPG").max-two-hundo.img-circle
    h2 Greetings, Fellow Travellers
.row
  .col-lg-6.col-lg-offset-3
    p
      | So very pleased to meet you. As you have undoubtedly deduced by this point, my name is Pat McGee and I am a web developer.
      
    p  
      | I currently work for 
      a(href="http://artsicle.com") Artsicle
      | , bending the full stack to my will in an effort to help artists of all shapes and sizes to share their work with the world.

    p
      | You have, by one means or another, arrived at my Home Base here on the interwebs. Here you can find my blog, projects, resume, and links to my social profiles. 

    p
      | I am interested in a great many things but 
      b Programming, Education, Science, Reading,
      |  and 
      b Data Analysis 
      |  are at the top of the list. If you want to strike up a conversation about any of those things feel free to reach out to me at 
      a(href="mailto:patmcgee331@gmail.com") patmcgee331@gmail.com

