body
  //background-color #E1E7F2
  font-size 16px
  font-family "Noticia Text" serif

.title-size
  font-size 55px
  font-weight 700

h1, h2, h3, h4, h5, h6
  font-family "Advent Pro" sans-serif
  color #28475C

a, a:hover
  color #C73D00
  font-weight 700

h1
  font-size 40px

h2
  font-size 37px

h3
  font-size 34px

h4
  font-size 31px

h5
  font-size 28px

h6
  font-size 25px

#social
  margin-top 40px
  margin-right 40px
  img
    margin 0 20px

#main-nav
  margin-top 20px
  ul
    width intrinsic
    padding-left 0
    margin 0 auto
    li
      margin 0 20px
      a
        font-family "Advent Pro" sans-serif
        font-size 20px
        font-weight 700
        color #28475C

.nav-list
  list-style-type none
  li
    display inline-block

.blog-post-list
  margin-top 20px
  list-style-type none

.max-two-hundo
  max-width 200px

footer
  margin-top 75px
  margin-bottom 0
