---
title: "Stuff"
layout: "default"
isPage: true
---

.row
  .col-lg-10.col-lg-offset-1
    h4 Public Evernote Notebooks
    .row
      .col-lg-12
        h5 TED talks
        a(href="https://www.evernote.com/pub/patmcscience/tedtalks", target="_blank") https://www.evernote.com/pub/patmcscience/tedtalks
        p
          | 60+ Mind-expanding TED talks.
