---
layout: "blog"
title: "Resume"
isPage: true
---

.row
  .col-lg-4#title
    h1 Pat McGee
.row
  .col-lg-10.col-lg-offset-1
    .row
      .col-lg-12.panel.panel-default#contact-info
        ul.blog-post-list
          li
            b Github:
            span.text-muted
                a(href="https://github.com/pathouse", target="_blank")  github.com/pathouse
          li
            b Website:
              span.text-muted
                a(href="http://patmcgee.io")  patmcgee.io
          li
            b Email:
              span.text-muted
                a(href="mailto:patmcgee331@gmail.com")  patmcgee331@gmail.com
    .row
      .col-lg-12.panel.panel-default#experience
        .panel-body
          h3 Experience
          p
            ul.blog-post-list
              li
                p
                  span.lead Developer, Freelance
                  br
                  span.text-muted December 2013 - January 2014
                ul
                  li Responsible for modifying an existing in-development rails application by creating a fork of the code and beginning a new application with some shared features and some new.
                  li Responsible for handling front end development to meet provided designs as well as back end to meet functional requirements.
            ul.blog-post-list
              li
                p
                  span.lead Full Stack Developer, Artsicle
                  br
                  span.text-muted June 2013 - present
                ul
                  li Learned core functionality and best practices of modern web technologies including Rails, Coffeescript & Javascript, HTML, CSS, MySQL, Rack, Memcached, Redis, and Git.
                  li Worked as part of an engineering team using agile and test driven practices.
                  li Worked with 4 other team members to make considerable changes to the Artsicle codebase as we pivoted to the Open platform now in Beta.
                  li Became familiar with all areas of the Artsicle codebase as well as the source of 3rd party libraries we depend upon.
            ul.blog-post-list
              li
                p
                  span.lead Freelance Copywriter
                  br
                  span.text-muted April 2012 - June 2013
                ul
                  li Built a website and marketing materials
                  li Found initial clients through Elance.com and maintained 5 star raiting and high customer satisfaction.
                  li write daily IT newsletters as well as Pythin scripts to ensure continuous improvement of copy for repeated resources.
    .row
      .col-lg-12.panel.panel-default#skills
        .panel-body
          h3 Skills & Expertise
          p
            ul
              li Ruby on Rails
              li HTML, CSS, SASS, ERB
              li Javascript, JQuery, Coffeescript
              li Git
              li SQL, Redis, Memcached
              li AWS, Heroku
    .row
      .col-lg-12.panel.panel-default#projects
        .panel-body
          h3 Education
          p.lead Fairfield University -
            small
              em  2008 - 2012
          p
            b Major:
            |  English: Creative Writing
          p
            b Minor:
            |  Computer Science
