footer.well
  .row
    .col-lg-4.col-lg-offset-4.text-center
      p= site.copyright
      p
        | This website was built using
        a(href="http://docpad.org", target="_blank")  Docpad
      p
        | Icons made by
        a(href="http://www.freepick.com", title="freepick", target="_blank")  Freepick
        |  from
        a(href="http://www.flaticon.com", title="flaticon", target="_blank")  Flaticon
