head
  title= getPreparedTitle()

  //- STYLES
  link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
  link(href='http://fonts.googleapis.com/css?family=Advent+Pro:400,700,100', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Noticia+Text:400,400italic,700,700italic', rel='stylesheet', type='text/css')
  != styles.toHTML()

  //- META
  meta(name="viewport", content="width=device-width, initial-scale=1")
  != getBlock("meta").toHTML()
